# Machine Learning Challenge - Round -1

# Imports

In [53]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [54]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

Path for the data

In [55]:
PATH = "data/yesbank/"

In [56]:
df_raw = pd.read_csv(f'{PATH}ml2_train.csv', low_memory=False, 
                     parse_dates=["Established_Date"],dayfirst = True)

df_test = pd.read_csv(f'{PATH}ml2_test.csv', low_memory=False,
                    parse_dates = ["Established_Date"],dayfirst = True)

it's important to look at your data, to make sure you understand the format, how it's stored, what type of values it holds, etc.

In [57]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000):
        display(df)

In [58]:
display_all(df_raw.tail().T)

,3785,3786,3787,3788,3789
Serial_Number,3786,3787,3788,3789,3790
Main_Office,0,0,0,0,0
Branch_Number,7981,7982,7984,7988,7989
Established_Date,2015-03-11 00:00:00,2016-02-02 00:00:00,2016-03-15 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00
Acquired_Date,NaN,NaN,NaN,NaN,NaN
City,Compton,Las Vegas,Irvine,New Orleans,Buffalo
County,Los Angeles,Clark,Orange,Orleans,Erie
State,CA,NV,CA,LA,NY
Deposits_2010,NaN,NaN,NaN,NaN,NaN
Deposits_2011,NaN,NaN,NaN,NaN,NaN
Deposits_2012,NaN,NaN,NaN,NaN,NaN
Deposits_2013,NaN,NaN,NaN,NaN,NaN
Deposits_2014,NaN,NaN,NaN,NaN,NaN
Deposits_2015,NaN,NaN,NaN,NaN,NaN
Deposits_2016,3446,2666,6689,94133,45596

In [59]:
display_all(df_raw.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Serial_Number,3790,NaN,NaN,NaN,NaN,NaN,1895.5,1094.22,1,948.25,1895.5,2842.75,3790
Main_Office,3790,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0
Branch_Number,3790,NaN,NaN,NaN,NaN,NaN,5390.81,1549.11,2866,4062.25,5256.5,6858.25,7989
Established_Date,3790,2027,1919-01-01 00:00:00,129,1825-01-01 00:00:00,2016-10-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acquired_Date,2297,5,09/25/2008,1528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,3790,1489,Chicago,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
County,3790,299,Los Angeles,298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,3790,25,CA,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deposits_2010,3050,NaN,NaN,NaN,NaN,NaN,112213,2.79759e+06,0,18932,35628,66072.8,1.53577e+08
Deposits_2011,3212,NaN,NaN,NaN,NaN,NaN,125514,3.44738e+06,0,20132.8,37183,66947,1.94388e+08
Deposits_2012,3461,NaN,NaN,NaN,NaN,NaN,128920,3.54715e+06,0,21065,39744,71496,2.07368e+08
Deposits_2013,3615,NaN,NaN,NaN,NaN,NaN,136383,3.74036e+06,0,23314.5,42358,76352.5,2.23395e+08
Deposits_2014,3734,NaN,NaN,NaN,NaN,NaN,145592,3.98028e+06,0,26239,46772,83296.5,2.41541e+08
Deposits_2015,3771,NaN,NaN,NaN,NaN,NaN,157628,4.28141e+06,0,30881,52516,91566,2.61293e+08
Deposits_2016,3790,NaN,NaN,NaN,NaN,NaN,183256,5.11612e+06,0,37091.5,60753,104378,3.13687e+08

# Initial Processing

This dataset contains a mix of continuous and categorical variables.
The below method extracts particular date fields from a complete datetime for the purpose of constructing categoricals.

In [60]:
add_datepart(df_raw,'Established_Date')
df_raw.Established_Year.head()
add_datepart(df_test,'Established_Date')

we call the function train_cats to convert strings to pandas categories.

In [61]:
train_cats(df_raw)
train_cats(df_test)

The below step is to replace the text to numericals

In [62]:
df_raw.City.cat.categories
df_raw.County.cat.categories
df_raw.State.cat.categories
df_test.City.cat.categories
df_test.County.cat.categories
df_test.State.cat.categories

Index(['AZ', 'CT', 'FL', 'IL', 'KY', 'LA', 'MI', 'NJ', 'NY', 'OH', 'TX', 'UT',
       'WI', 'WV'],
      dtype='object')

output : Index(['AZ', 'CT', 'FL', 'IL', 'KY', 'LA', 'MI', 'NJ', 'NY', 'OH', 'TX', 'UT',
       'WI', 'WV'],
      dtype='object')

In [63]:
df_raw.City = df_raw.City.cat.codes
df_raw.County = df_raw.County.cat.codes
df_raw.State = df_raw.State.cat.codes
df_test.City = df_test.City.cat.codes
df_test.County = df_test.County.cat.codes
df_test.State = df_test.State.cat.codes

Since we have lots of missing values, which we can't pass directly to a random forest.

In [64]:
display_all(df_raw.isnull().sum().sort_index()/len(df_raw))
display_all(df_test.isnull().sum().sort_index()/len(df_test))

Acquired_Date                   0.393931
Branch_Number                   0.000000
City                            0.000000
County                          0.000000
Deposits_2010                   0.195251
Deposits_2011                   0.152507
Deposits_2012                   0.086807
Deposits_2013                   0.046174
Deposits_2014                   0.014776
Deposits_2015                   0.005013
Deposits_2016                   0.000000
Established_Day                 0.000000
Established_Dayofweek           0.000000
Established_Dayofyear           0.000000
Established_Elapsed             0.000000
Established_Is_month_end        0.000000
Established_Is_month_start      0.000000
Established_Is_quarter_end      0.000000
Established_Is_quarter_start    0.000000
Established_Is_year_end         0.000000
Established_Is_year_start       0.000000
Established_Month               0.000000
Established_Week                0.000000
Established_Year                0.000000
Main_Office                     0.000000
Serial_Number                   0.000000
State                           0.000000
dtype: float64

Acquired_Date                   0.075169
Branch_Number                   0.000000
City                            0.000000
County                          0.000000
Deposits_2010                   0.000000
Deposits_2011                   0.000000
Deposits_2012                   0.000000
Deposits_2013                   0.000000
Deposits_2014                   0.000000
Deposits_2015                   0.000000
Established_Day                 0.000000
Established_Dayofweek           0.000000
Established_Dayofyear           0.000000
Established_Elapsed             0.000000
Established_Is_month_end        0.000000
Established_Is_month_start      0.000000
Established_Is_quarter_end      0.000000
Established_Is_quarter_start    0.000000
Established_Is_year_end         0.000000
Established_Is_year_start       0.000000
Established_Month               0.000000
Established_Week                0.000000
Established_Year                0.000000
Main_Office                     0.000000
Serial_Number                   0.000000
State                           0.000000
dtype: float64

# Preprocessing

Since we have lots of training data compared to test data available, the training data has been splitted to required number in order to overcome overfitting.

In [39]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 2167  # same as Kaggle's test set size
n_trn = len(df_raw)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
raw_train.shape
df_raw = raw_train

We'll replace categories with their numeric codes, handle missing continuous values, and split the dependent variable into a separate variable.

In [66]:
df, y, nas = proc_df(df_raw, 'Deposits_2016')
df1, y1, nas1 = proc_df(df_test)
df

,Serial_Number,Main_Office,Branch_Number,Acquired_Date,City,County,State,Deposits_2010,Deposits_2011,Deposits_2012,...,Established_Is_quarter_start,Established_Is_year_end,Established_Is_year_start,Established_Elapsed,Deposits_2010_na,Deposits_2011_na,Deposits_2012_na,Deposits_2013_na,Deposits_2014_na,Deposits_2015_na
0,1,0,2866,5,1383,279,24,21386.0,23981.0,24825.0,...,False,False,False,-1880323200,False,False,False,False,False,False
1,2,0,2867,5,451,277,24,55454.0,56564.0,64732.0,...,False,False,False,-1888444800,False,False,False,False,False,False
2,3,0,2868,5,137,279,24,90882.0,104300.0,125038.0,...,False,False,False,-1974758400,False,False,False,False,False,False
3,4,0,2869,5,1005,279,24,45674.0,49288.0,53251.0,...,False,False,False,-1058227200,False,False,False,False,False,False
4,5,0,2870,5,1401,279,24,64181.0,72217.0,69920.0,...,False,False,False,-211334400,False,False,False,False,False,False
5,6,0,2871,5,1401,279,24,62558.0,67728.0,78847.0,...,False,False,False,-29289600,False,False,False,False,False,False
6,7,0,2872,5,137,279,24,78437.0,87150.0,102144.0,...,False,False,False,-222220800,False,False,False,False,False,False
7,8,0,2873,5,859,279,24,84622.0,96048.0,103946.0,...,True,False,False,-307756800,False,False,False,False,False,False
8,9,0,2874,5,936,279,24,48467.0,48696.0,54702.0,...,False,False,False,-1196121600,False,False,False,False,False,False
9,10,0,2875,5,159,279,24,49281.0,48689.0,48674.0,...,False,False,False,-721785600,False,False,False,False,False,False
10,11,0,2876,5,845,279,24,30742.0,31913.0,33119.0,...,False,False,False,-51062400,False,False,False,False,False,False
11,12,0,2877,5,1401,279,24,29481.0,31025.0,34804.0,...,False,False,False,410400000,False,False,False,False,False,False
12,13,0,2878,5,428,169,24,56835.0,62106.0,68988.0,...,False,False,False,634953600,False,False,False,False,False,False
13,14,0,2879,5,795,169,24,44165.0,51546.0,51797.0,...,False,False,False,666489600,False,False,False,False,False,False
14,15,0,2880,5,795,169,24,41386.0,44935.0,53885.0,...,False,False,False,698025600,False,False,False,False,False,False
15,16,0,2881,5,408,83,24,32264.0,32588.0,34777.0,...,True,False,True,-2145916800,False,False,False,False,False,False
16,17,0,2883,5,959,292,24,43650.0,43171.0,45133.0,...,True,False,True,-1167609600,False,False,False,False,False,False
17,18,0,2884,5,959,292,24,20742.0,21347.0,21619.0,...,False,False,False,137635200,False,False,False,False,False,False
18,19,0,2885,5,1065,211,24,32374.0,32970.0,33703.0,...,False,False,False,546998400,False,False,False,False,False,False
19,20,0,2886,5,1065,211,24,38879.0,44762.0,53897.0,...,True,False,True,-3692131200,False,False,False,False,False,False
20,21,0,2887,5,1065,211,24,23586.0,25819.0,32530.0,...,False,False,False,729734400,False,False,False,False,False,False
21,22,0,2888,5,603,126,24,133476.0,161447.0,159164.0,...,False,False,False,-3709670400,False,False,False,False,False,False
22,23,0,2889,5,1025,126,24,36034.0,39054.0,47172.0,...,False,False,False,-15552000,False,False,False,False,False,False
23,24,0,2890,5,132,126,24,41540.0,45722.0,49287.0,...,False,False,False,60912000,False,False,False,False,False,False
24,25,0,2891,5,603,126,24,63075.0,69062.0,79939.0,...,False,False,False,497404800,False,False,False,False,False,False
25,26,0,2892,5,603,126,24,43225.0,51113.0,51254.0,...,False,False,False,493257600,False,False,False,False,False,False
26,27,0,2893,5,1270,207,24,151797.0,99047.0,109104.0,...,False,False,False,-2413152000,False,False,False,False,False,False
27,28,0,2894,5,24,139,24,54152.0,42828.0,43477.0,...,False,False,False,-1922918400,False,False,False,False,False,False
28,29,0,2895,5,28,193,24,223146.0,253314.0,281540.0,...,False,False,False,-121219200,False,False,False,False,False,False
29,30,0,2896,5,28,292,24,26675.0,27337.0,27643.0,...,True,False,True,-3155673600,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3760,3761,0,7952,0,105,194,5,35628.0,37183.0,39744.0,...,False,False,False,1423180800,True,True,True,True,True,False
3761,3762,0,7953,0,1432,190,1,35628.0,37183.0,39744.0,...,False,False,False,1436227200,True,True,True,True,True,True
3762,3763,0,7955,0,972,194,5,35628.0,37183.0,39744.0,...,False,False,False,1405382400,True,True,True,True,True,False
3763,3764,0,7956,0,579,70,5,35628.0,37183.0,39744.0,...,False,False,False,1394323200,True,True,True,True,True,False
3764,3765,0,7957,0,458,49,8,35628.0,37183.0,39744.0,...,False,False,False,1397001600,True,True,True,True,True,False
3765,3766,0,7958,0,74,285,16,35628.0,37183.0,39744.0,...,False,False,False,1397174400,True,True,True,True,True,False
3766,3767,0,7959,0,1185,232,5,35628.0,37183.0,39744.0,...,False,False,False,1418688000,True,True,True,True,True,False
3767,3768,0,7960,0,1249,227,1,35628.0,37183.0,39744.0,...,False,False,False,1422316800,True,True,True,True,True,False
3768,3769,0,7961,0,105,194,5,35628.0,37183.0,39744.0,...,False,False,False,1443744000,True,True,True,True,True,False
3769,3770,0,7962,0,917,80,3,35628.0,37183.0,39744.0,...,False,False,False,1428969600,True,True,True,True,True,False
3770,3771,0,7963,0,398,39,5,35628.0,37183.0,39744.0,...,False,False,False,1429574400,True,True,True,True,True,False
3771,3772,0,7964,0,118,154,5,35628.0,37183.0,39744.0,...,False,False,False,1429747200,True,True,True,True,True,False
3772,3773,0,7965,0,790,156,1,35628.0,37183.0,39744.0,...,False,False,False,1437436800,True,True,True,True,True,True
3773,3774,0,7967,0,399,112,14,35628.0,37183.0,39744.0,...,False,False,False,1437436800,True,True,True,True,True,True
3774,3775,0,7969,0,253,166,5,35628.0,37183.0,39744.0,...,False,False,False,1443398400,True,True,True,True,True,True
3775,3776,0,7970,0,1406,194,5,35628.0,37183.0,39744.0,...,False,False,False,1444694400,True,True,True,True,True,True
3776,3777,0,7971,0,195,4,2,35628.0,37183.0,39744.0,...,False,False,False,1445817600,True,True,True,True,True,True
3777,3778,0,7972,0,1002,199,8,35628.0,37183.0,39744.0,...,False,False,False,1445817600,True,True,True,True,True,True
3778,3779,0,7973,0,775,166,5,35628.0,37183.0,39744.0,...,False,False,False,1444521600,True,True,True,True,True,True
3779,3780,0,7974,0,571,190,1,35628.0,37183.0,39744.0,...,False,False,False,1447718400,True,True,True,True,True,True
3780,3781,0,7975,0,633,190,1,35628.0,37183.0,39744.0,...,False,False,False,1426118400,True,True,True,True,True,True
3781,3782,0,7976,0,940,188,18,35628.0,37183.0,39744.0,...,False,False,False,1436659200,True,True,True,True,True,True
3782,3783,0,7978,0,1306,108,5,35628.0,37183.0,39744.0,...,False,False,False,1461628800,True,True,True,True,True,True
3783,3784,0,7979,0,579,70,5,35628.0,37183.0,39744.0,...,False,False,False,1475625600,True,True,True,True,True,True
3784,3785,0,7980,0,1466,149,1,35628.0,37183.0,39744.0,...,False,False,False,1464048000,True,True,True,True,True,True
3785,3786,0,7981,0,244,149,1,35628.0,37183.0,39744.0,...,False,False,False,1426032000,True,True,True,True,True,True
3786,3787,0,7982,0,662,38,15,35628.0,37183.0,39744.0,...,False,False,False,1454371200,True,True,True,True,True,True
3787,3788,0,7984,0,571,190,1,35628.0,37183.0,39744.0,...,False,False,False,1458000000,True,True,True,True,True,True
3788,3789,0,7988,0,869,191,11,35628.0,37183.0,39744.0,...,True,False,True,1451606400,True,True,True,True,True,True
3789,3790,0,7989,0,148,78,16,35628.0,37183.0,39744.0,...,True,False,True,1451606400,True,True,True,True,True,True

Now, the data is ready to fit the model using random forest regressor

In [67]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9206251464882599

Output: 0.9206251464882599

The output is the coefficient of R^2

This shows that the train data given is efficient for the prediction process of the test data.

## Prediction of Test data

In [17]:
deposit = m.predict(df1)
deposit

array([1.65417e+08, 3.58472e+05, 2.86499e+05, ..., 1.06214e+05, 8.45572e+04, 2.75120e+04])

## Clustering

In [18]:
A=[];
B=[];
C=[];
S1=[];
S2=[];
S3=[];
clu_a =[];
for i in range(len(deposit)):
    if (deposit[i]>=20000 and deposit[i]<=90000):
        A.append(deposit[i])
        S1.append(i+1)
    if (deposit[i] < 20000):
        B.append(deposit[i])
        S2.append(i+1)
    if (deposit[i] >90000):
        C.append(deposit[i])
        S3.append(i+1)    
deposit = A + B + C
Serialnum = S1 + S2 + S3

## Creation of csv file

In [20]:
import csv

with open('submissionlast.csv','w',newline = '') as f:
    thewriter = csv.writer(f)
    thewriter.writerow(['Serial Number','2016 Deposits'])
    for i in range(len(deposit)):
        thewriter.writerow([Serialnum[i],deposit[i]])